/* * {
  outline: 1px solid #f00 !important;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe7e7;
}

.body-div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 0 0 0;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}

.logo {
  margin-top: 36px;
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 700;
}

.hero-section {
  height: 349px;
  background: #eb70ff;
  color: white;
  border-radius: 16px;
  margin-left: 28px;
  margin-right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section__heading {
  font-size: 36px;
  font-weight: 700;
}

.section {
  margin-top: 40px;
  max-width: 600px;
  padding: 33px 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.section__image-wrapper {
  flex: 1;
  min-width: 216px;
  /* width: fill; */
}

.section__text-wrapper {
  flex: 1;
  min-width: 252px;
  /* width: 252px; */
}

.section__text-wrapper__heading {
  margin-top: 31px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
}

.section__text-wrapper__para {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}

.section__button {
  width: 97px;
  height: 42px;
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.section--1 {
  background: #f6c0ff;
}

.section--2 {
  background: #defffd;
  /* padding: 33px 24px 33px 42px; */
}

.section--3 {
  background: #f8ffa8;
}

.para-above-footer {
  font-family: Apercu Pro;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  margin: 40px 0 40px 30.5px;
  line-height: 30.7px;
  overflow-wrap: break-word;
}

.para-above-footer--margin-decrease {
  margin-top: 0;
}

hr {
  height: 2px;
  max-width: 540px;
  margin: 0 30px;
  background: #000;
}

.footer {
  margin: 51.7px 51.7px 0;
  font-size: 13px;
  line-height: 18.52px;
}

.footer__social-container {
  margin: 10px auto 25px;
  width: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__unsub {
  position: relative;
  top: 5px;
  color: #000;
}

/* @media (max-width: 533px) {
  .section {
    padding: 33px 24px 33px 24px;
  }
} */
